body {
    font-family: 'Inter', sans-serif;
    font-size:1.3em;
}

.navbar {
    background-color: rgba(0,0,0,0);
}

.titleFont {
    font-family: 'Staatliches', cursive;
}

.umichBlue {
    color: #002C5F;
}

.umichBlueBg {
    background-color: #002C5F;
}

.maize {
    color: #FFCB05;
}

.maizeBg {
    background-color: #FFCB05;
}

.saseGreen {
    color:#7DC242;
}

.saseGreenBg {
    background-color:#7DC242;
}

.white {
    color:white;
}

.whiteBg {
    background-color:white;
}

.slateGray {
    color: #6C757D
}

h1 {
    font-size:6rem;
    font-weight: bold;
}

h2 {
    font-size:2rem;
}

#navbarBasic {
    font-size: 1.3rem;
}

#intro {
      /* The image used */
  background-image: url("resources/introBg1.png");
  background-color: #002C5F;

  /* Set a specific height */
  height:100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.welcome {
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#gap1 {
    /* The image used */
    background-image: url("resources/gap2.png");
    opacity:0.5;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#gap2 {
      /* The image used */
  background-image: url("resources/gap1.jpg");


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


ion-icon {
    font-size: 256px;
}

.footer