<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SASE at the University of Michigan</title>
    <link rel="icon" href="resources/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="/static/eboard.css">
  </head>

  <body>
    {% include 'navbar.html' %}
    
    <section class="section is-medium">
      <p class="titleFont is-size-1 has-text-centered pb-6">Meet the Executive Board</p>
      <div class="container has-text-centered">
        <div class="columns is-centered">.
          <div class="column is-one-third">
            <div class="card">
              <div class="card-image">
                <figure class="image is-5by3">
                  <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  <span class="titleFont is-size-3">Hannah Kim</span><br>
                  <span class="titleFont is-size-3">Co-President</span><br>
                  <p style="font-size: 1rem;">Hannah Kim is a Junior majoring in Microbiology! With a passion for exploring the intricacies of the microscopic world, Hannah is a dedicated student on her academic journey. 
                    When she's not immersed in her scientific studies, you can find her indulging in her favorite KDramas, currently relishing the joys of rewatching Hospital Playlist Season 2. 
                    Additionally, Hannah finds solace in the captivating world of books, spending her free time engrossed in the pages of various literary adventures. 
                    As a leisure activity, she also enjoys hitting the golf course, honing her skills and enjoying the outdoors.
                    Now, here's an interesting tidbit about Hannah: despite her time on campus, she has never set foot on North Campus and has yet to experience the thrill of riding a Blue Bus.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-one-third">
            <div class="card-image">
              <figure class="image is-5by3">
                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="card">
              <div class="card-content">
                <div class="content">
                  <span class="titleFont is-size-3">Katrina Tao</span><br>
                  <span class="titleFont is-size-3">Co-President</span><br>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-one-third">
            <div class="card-image">
              <figure class="image is-5by3">
                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="card">
              <div class="card-content">
                <div class="content">
                  <p class="titleFont is-size-3">Prathik Murthy</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="columns is-centered">
          <div class="column is-one-third">
            <div class="card">
              <div class="card-content">
                <div class="content">
                  <p class="titleFont is-size-3">Prathik Murthy</p>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-one-third">
            <div class="card">
              <div class="card-content">
                <div class="content">
                  <p class="titleFont is-size-3">Jun Ha</p>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="card-content">
                <div class="content">
                  <p class="titleFont is-size-3">Sonia Kore</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="columns is-centered">
          <div class="column is-one-third">
            <div class="card">
              <div class="card-content">
                <div class="content">
                  <p class="titleFont is-size-3">Annabel Zhuang</p>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-one-third">
            <div class="card">
              <div class="card-content">
                <div class="content">
                  <p class="titleFont is-size-3">Robin Hwang</p>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-one-third">
            <div class="card">
              <div class="card-content">
                <div class="content">
                  <p class="titleFont is-size-3">Kirsten Nishino</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="columns is-centered">
          <div class="column is-one-third">
            <div class="card">
              <div class="card-content">
                <div class="content">
                  <p class="titleFont is-size-3">Enzhong Wang</p>
                </div>
              </div>
            </div> 
          </div>
          <div class="column is-one-third">
            <div class="card">
              <div class="card-content">
                <div class="content">
                  <p class="titleFont is-size-3">Amy Liang</p>
                </div>
              </div>
            </div> 
          </div>
          <div class="column is-one-third">
            <div class="card">
              <div class="card-content">
                <div class="content">
                  <p class="titleFont is-size-3">TBA</p>
                </div>
              </div>
            </div> 
          </div>
        </div>

        <div class="columns is-centered">
          <div class="column is-one-third">
            <div class="card">
              <div class="card-content">
                <div class="content">
                  <p class="titleFont is-size-3">TBA</p>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </section>

    {% include 'footer.html' %}

    <script src="/static/main.js"></script>
  </body>
</html>