<footer class="footer white" style="background-color:#002C5F">
    <div class="content has-text-centered">
        <span style="font-size:1.2rem">© 2023, Society of Asian Scientists and Engineers</span><br>
        <span style="font-size:1.2rem">University of Michigan Chapter</span><br>
        <span style="font-size:1.2rem">All Rights Reserved.</span><br>
        <a href="https://www.instagram.com/sase.michigan/">
            <ion-icon name="logo-instagram" class="icon blue3 pr-5 md hydrated white pt-3"></ion-icon>
        </a>
        <a href="https://www.instagram.com/sase.michigan/">
            <ion-icon name="logo-linkedin" class="icon blue3 pr-5 md hydrated white"></ion-icon>
        </a>
        <a href="mailto:umichsase.eboard@umich.edu">
            <ion-icon name="mail" class="icon blue3 md hydrated white"></ion-icon>
        </a>
        <br>
        <span class="pt-5" style="font-size:0.7rem">Are you a website administrator? Log in <a href="/admin/login" style="color:#FFCB05">here</a>!</span><br>
        <span class="pt-5" style="font-size:0.7rem">Website developed by <a href="https://robinhwang.onrender.com" style="color:#FFCB05">Robin Hwang</a>, Class of 2026</span>
    </div>
</footer>