<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SASE at the University of Michigan</title>
    <link rel="icon" href="resources/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="/static/eboard.css">
  </head>

  <body>
    {% include 'navbar.html' %}
    <section class="section is-medium" style="min-height: 90vh;">
        <div class="container has-text-centered">
          <p class="titleFont is-size-1 pb-6">Midwest Regional Conference 2024</p>
          <p class="is-size-3">🎉 Woohoo! The University of Michigan will be hosting the SASE Midwest Regional Conference in 2024! Stay tuned to this page for more information. 🥳</p>
        </div>
    </section>
    {% include 'footer.html' %}
    <script src="/static/main.js"></script>
  </body>
</html>