<nav class="navbar px-6" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/static/resources/saseNav.png" style="max-height:56px;">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasic" class="navbar-menu navbar-end">
        <a class="navbar-item maize px-6 has-text-weight-bold" href="/">Home</a>
        <a class="navbar-item maize px-6 has-text-weight-bold" href="/eboard">E-Board</a>
        <a class="navbar-item maize px-6 has-text-weight-bold">Calendar</a>
        <a class="navbar-item maize px-6 has-text-weight-bold">Join</a>
    </div>
</nav>